<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <app-header title="Menú"></app-header>
  <ion-content>
    <ion-menu-toggle autoHide="false" *ngFor="let page of pages">
      <ion-item
        [ngClass]="{'active': currentPath === page.url}"
        [routerLink]="page.url"
        routerDirection="root"
        detail
      >
        <ion-icon slot="start" [name]="page.icon"></ion-icon>
        <ion-label>{{page.title}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>
