<app-header title="Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img [src]="user()?.image" />
  </ion-avatar>

  <ion-button
    class="photo-btn"
    (click)="takeImage()"
    shape="round"
    mode="ios"
    size="small"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2>{{user().name}}</h2>

  <ion-item button detail>
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>

  <ion-item button detail>
    <ion-icon color="primary" slot="start" name="document-outline"></ion-icon>
    <ion-label>Términos & Condiciones</ion-label>
  </ion-item>
</ion-content>
